---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import "../styles/global.css";
import FabContact from "../components/FabContact.jsx";
import ScrollToTop from "../components/ScrollToTop.jsx";
import Projects from "../components/sections/Projects.astro";
---

<div class="bg-gray-900">
	<Layout
		title="Juan Pablo Cuellar"
		description="Juan Pablo Cuellar, desarrollador mobile especializado en aplicaciones Android nativas con Kotlin y Jetpack Compose. Experiencia en diseño UI/UX, arquitectura moderna y soluciones móviles eficientes."
	>
		<div class="min-h-screen">
			<Hero />
			<FabContact client:only="solidjs" />
			<ScrollToTop client:only="solidjs" />
			<Projects />
		</div>
	</Layout>
</div>
<script src="/src/assets/scripts/smooth-links.js" defer></script>
