---
import Header from "../components/layout/Header.jsx";
import Footer from "../components/layout/Footer.jsx";
interface Props {
	title: string;
	description?: string;
}

const { title, description = "Portfolio de desarrollo móvil" } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + " | Desarrollador Mobile Junior"}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Juan Pablo Cuellar | Desarrollador Mobile Junior" />
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content={description ||
				"Desarrollador Android especializado en apps móviles modernas con Kotlin, Jetpack Compose y más."}
		/>
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
		<meta name="robots" content="index, follow" />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" href="logo.webp" type="image/webp" />
	</head>
	<Header client:only="solidjs" />
	<body>
		<slot />
	</body>
	<Footer client:only="solidjs" />

	<style>
		html,
		body {
			margin: 0;
			width: 100%;
			height: 100%;
		}
	</style>


</html>
